body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

header {
    background-color: #570000;

    width: 100%;
}

.headerTitle {
    text-align: center;
    display: block;
}

.headerSub {
    text-align: center;
    display: block;
}

.headerImage {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.navigationBar {
    width: 100%;
    background-color: #ADA8B6;
}

.navigationBar li {
    border: 2px solid black;
    line-height: 5vh;
}
.navigationBar a {
    text-decoration: none;
    color: whitesmoke;
}

.colum {
width: 100%;
color: black;
text-align: center; 
}

.content{
    margin-bottom: 15vh;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFEEDB;
}

/* Any CSS here will be applied when the screen size is 600px+ */
@media only screen and (min-width: 600px){
    header {
        height: 25vh;
    }

.headerTitle {
display: inline-block;
}

.headerSub {
    margin-left: 20px;
    display: inline-block;
}

.headerImage {
    height: 200px;
    width: auto;
    display: block;
    float: right;
}

.navigationBar {
    text-align: left;
}

.navigationBar li {
    width: 140px;
    display: inline-block;
}

.content {
    margin-top: 50px;
}

.colum {
    float: left;
    width: 50%;
    background-color: #B7B5B3;
}

}